<div class="card">
    <div class="card-body">
      <h5 class="card-title">Daftar Laporan Humas</h5>

      <!-- List group with Links and buttons -->
      <div class="list-group">
        {% for isi in daftar_laporan %}
            <button type="button" class="list-group-item list-group-item-action">{{ isi }}</button>
        {% endfor %}
        <!-- <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
          The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
        <button type="button" class="list-group-item list-group-item-action" disabled="">A disabled button item</button> -->
      </div><!-- End List group with Links and buttons -->

    </div>
  </div>