

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Daftar Calgot <sup>(4 orang)</sup> </h5>
      <!-- <p>Use contextual classes <code>.table-primary .table-secondary .table-success .table-danger .table-warning .table-info .table-light .table-dark</code> to color tables, table rows or individual cells.</p> -->
      <!-- Table Variants -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color: #012970;">Nama Lengkap</th>
            <th scope="col" style="color: #012970;">Nomor Wa</th>
            <th scope="col" style="color: #012970;">Kehadiran</th>
            
            <th scope="col" style="color: #012970;">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Akhmad</th>
            <td>085341955788</td>
            <td style="color: red;">Tidak Aktif</td>
          </tr>
          <tr>
            <th scope="row"><a href="#" style="color: red">Uky <sup>(wajah tidak di kenal)</sup></a></th>
            <td>085341955789</td>
            <td style="color: green;">Aktif</td>
          </tr>
          <tr>
            <th scope="row">Syauki</th>
            <td>0853419557881</td>
            <td style="color: green;">Aktif</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">ahmad syauki</th>
            <td>ahmadsyauki@gmail.com</td>
            <td style="color: red;">SUREN</td>
          </tr>
        </tbody>
      </table>
      <!-- End Table Variants -->

    </div>
  </div>