{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Pembelajaran</h5>

        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home"
                    type="button" role="tab" aria-controls="home" aria-selected="false" tabindex="-1">Absen</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Pertemuan</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact"
                    type="button" role="tab" aria-controls="contact" aria-selected="true">Laporan</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">

            <!-- Buat Laporan -->
            <div class="tab-pane fade active show" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                {% include 'pembelajaran/absensi.html' %}
            </div>

            <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                {% include 'pembelajaran/pertemuan.html' %}
            </div>
            <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
                Entah Kapan Datang
            </div>
        </div><!-- End Bordered Tabs -->

    </div>
</div>

{% endblock %}