{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Tambahkan Calgot</h5>

      <!-- No Labels Form -->
      <form class="row g-3">
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Nama Lengkap">
        </div>
        <div class="col-md-3">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="081 234 567 190">
          </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
      </form>
      <!-- End No Labels Form -->

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Daftar Calgot <sup>(4 orang)</sup> </h5>
      <!-- <p>Use contextual classes <code>.table-primary .table-secondary .table-success .table-danger .table-warning .table-info .table-light .table-dark</code> to color tables, table rows or individual cells.</p> -->
      <!-- Table Variants -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="color: #012970;">Nama Lengkap</th>
            <th scope="col" style="color: #012970;">Nomor Wa</th>
            <th scope="col" style="color: #012970;">Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
            <th scope="row">Default</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr> -->

          <!-- <tr class="table-primary">
            <th scope="row">Primary</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr> -->
          <!-- <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr> -->
          <!-- <tr class="table-success">
            <th scope="row">Success</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr> -->
          <tr class="table-danger">
            <th scope="row">Akhmad</th>
            <td>085341955788</td>
            <td style="color: red;">Tidak Aktif</td>
          </tr>
          <tr class="table-info">
            <th scope="row"><a href="#" style="color: black">Uky <sup style="color: red">(wajah tidak di kenal)</sup></a></th>
            <td>085341955789</td>
            <td style="color: green;">Aktif</td>
          </tr>
          <tr class="table-info">
            <th scope="row">Syauki</th>
            <td>0853419557881</td>
            <td style="color: green;">Aktif</td>
          </tr>
          <!-- <tr class="table-light">
            <th scope="row">Light</th>
            <td>Cell</td>
            <td>Cell</td>
          </tr> -->
          <tr class="table-dark">
            <th scope="row">ahmad syauki</th>
            <td>ahmadsyauki@gmail.com</td>
            <td style="color: red;">SUREN</td>
          </tr>
        </tbody>
      </table>
      <!-- End Table Variants -->

    </div>
  </div>


{% endblock %}